.hidden {
	 display : none;
}

.form-text.hidden {
	display : none;
}

.err-message {
	color: red; 
}

.bgcheck-text{
	text-align: justify;
    text-justify: inter-word;
}

#applyForm{
	border-style:ridge;
	border-color:gray;
	padding : 5px;
	box-shadow: 5px 5px 5px #888888;
}
