.hidden {
	 display : none;
}

.form-text.hidden {
	display : none;
}

.err-message {
	color: red; 
}

.important{
	color: red; 
}

.bgcheck-text{
	text-align: justify;
    text-justify: inter-word;
}

#apply-form .form-control{
	font-size : 14px;
}

#apply-form .form-control{
	font-size : 14px;
}

#submitShopper {
	font-size : 14px;
}
